<!DOCTYPE html>
<html>
     <head>
        <meta charset="UTF-8">
        <title>{% block title %}NoteBo0k{% endblock %}</title>
        {% block stylesheets %} 
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light row">
            <a class="navbar-brand textenav" href="#">NoteBo0k++</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('listeRep') }}">Répertoires<span class="sr-only">(current)</span></a>
                        <!-- la classe  .sr-only facultative,  permet d'inclue du contenu supplémentaire, visuellement caché -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gestionRep') }}">Gérer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('ajoutRep') }}">Ajouter</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block body %} {% endblock %}
        {% block javascripts %}{% endblock %} 
    </body>
</html>
